body {
    font-family: Arial;
    background: #eef2f7;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.task {
    background: #f9fafb;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid green;
}

button {
    margin: 5px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}